.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0px;
}

.block {
  width: inherit;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  width: 90%;
  background: #404b57;
  border-radius: 30px;
  margin-bottom: 25px;
}

.subir {
  background: #5c1a1a;
  border: none;
}

.block > .blockText {
  flex-direction: row;
  outline: none;
  background-color: inherit;
  border: none;
  width: 80%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}

.block > .ul {
  border-bottom: 1px solid #fff;
}

.blockElement {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}

@media only screen and (max-width: 1600px) {
  .block > .blockText {
    font-size: 25px;
    line-height: 32px;
  }
}

@media only screen and (max-width: 991px) {
  .form {
    padding-top: 1rem;
    padding-bottom: 0;
    border: 1px solid white;
    border-radius: 15px;
  }

  .block {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .block > .blockText {
    font-size: 20px;
    line-height: 27px;
  }

  .block > .ul {
    width: 60%;
  }

  .subir {
    visibility: hidden;
    position: absolute;
  }
}
