.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: inherit;
  height: auto;
  left: 67px;
  top: 213px;
}

.block {
  width: inherit;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #404b57;
  border-radius: 30px;
  margin-bottom: 25px;
}

.subir {
  background: #5c1a1a;
  border: none;
}

.block > .blockText {
  flex-direction: row;
  outline: none;
  background-color: inherit;
  border: none;
  width: 80%;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  color: #ffffff;
}

.block > .ul {
  border-bottom: 1px solid #fff;
}

.blockElement {
  font-family: Roboto;
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
}
