nav{
    height: 100px
}

/*.Nivbar{
    width: 80%;
    height: 80px;
    display: flex;
    padding-top: 10px;
}*/

.responsive {
    width: 350px;
    height: 60px;
    margin-top: 20px;
    margin-right: 180vh;
  }

  .responsive_b {
    width: 150px;
    height: 60px;
  }

.rightSide{
    width: 20%;
    height: 80px;
    flex: auto ;
    display: flex ;
    position: relative;
    bottom: 70px;
    left: 80%;
    justify-content: left;
    align-items: center;
    justify-content: flex-end;
    padding: 25px;
    padding-top: 30px;

}

@media only screen and (max-width: 991px){
    
    /*.Nivbar{
        justify-content: center;
        align-items: center;
        width: 100%;
    }*/


    .rightSide{
        position:  fixed;
        bottom: 0;
        left: 0%;
        background-color: #15202b;
        width: 100%;
        border-top: 1px solid white;
        justify-content: flex-end;
        z-index: 1;

    }

    .responsive {
        margin-top: 10px;
        margin-right: 0;

      } 
    
     .responsive_b{
        width: 70%;
        height: 70%;
      } 

}

@media only screen and (max-width: 450px){

    .rightSide{
        height: 20px;
    }

    .responsive {
        width: 80%;
        height: auto;
      } 

      .responsive_b{
        width: 100px;
        height: 80%;
      } 

}