.search-item-container{
    background-color: var(--secondaryColor);
    height: 2rem;
    color: whitesmoke;
    padding: 0 1rem;
    font-size: 18px;
    border-radius: 150px;
}

.search-item-link{
    color: inherit;
    text-decoration: inherit;
    cursor: inherit;
}

.search-item-container:hover{
    background-color: var(--selectedElement);
}
