.searchItem_container{    
    background-color: var(--secondaryColor);       
    height: 2rem;
    color: whitesmoke;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.searchItme_link{
    color: inherit;
    text-decoration: inherit;    
}

.searchItem_container:hover{
    background-color: var(--selectedElement);    
}
