.search-item-container{    
    background-color: var(--secondaryColor);       
    height: 2rem;
    color: whitesmoke;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.search-item-link{
    color: inherit;
    text-decoration: inherit;    
}

.search-item-container:hover{
    background-color: var(--selectedElement);    
}
