


.openButton{
    position:fixed;
    bottom: 5vh;
    right: 10vw;
    background-color: #A01111;
}

.openIcon{
    color: white;
}

.ModalWindow{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    backdrop-filter: blur(5px);    
    
}