.container {
    height: fit-content;
    background-color: var(--blueWhite);
    border-radius: 1rem;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.subContainer{
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.leftDiv {
    padding-right: 10px;
    width: 450px;
    display: flex;
    flex-flow: column wrap;
    margin-block-end: 15px;
    box-sizing: border-box;
}

.rightDiv {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    box-sizing: border-box;
}

.semetre-categoria{
    display: flex;
    justify-content: space-between;
}

.close-button {
    position: relative;
    left: 0;
}

@media only screen and (max-width: 800px){        
    .subContainer{
        flex-direction: column;
    }

    .leftDiv{
        width: 450px;
    }

    .rightDiv{
        width: 90%;
    }

    .container {
        position: absolute;
        top: 1%;
        transform: translate(-50%);
    }
}

@media only screen and (max-width: 540px){
    .container {
        width: 100vw;
        position: absolute;
        top: 5%;
        left: 0;
        transform: translate(0%);
        border-radius: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .close-button {
        position: relative;
        left: 5%;
    }

    .subContainer {
        width: 100%;
    }

    .leftDiv {   
        width: 90%;
    }
}

.upload-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

