.pdf-circle{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    border: 1px solid brown;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uploaded-container{
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    background-color: white;
    border-radius: 1rem;
    padding: 0 5px;
    -webkit-box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0 0 10px -5px rgba(0,0,0,0.75);
}

.text-max-pdf {
    text-overflow: ellipsis;
    overflow: hidden;    
    height: 20px;
}

.close-icon{
    color: gray;
    cursor: pointer;
}