.container {
    height: fit-content;
    background-color: #F0F4F6;
    border-radius: 1rem;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;    
}

.subContainer{
    display: flex;
    align-items: center;
}

.leftDiv {
    padding-right: 10px;
    width: 450px;
    display: flex;
    flex-flow: column wrap;
    margin-block-end: 15px;    
    
}

.rightDiv {
    padding-right: 10px;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}



.semetre-categoria{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 800px){        
    .subContainer{
        flex-direction: column;
    }
    .leftDiv{
        width: 450px;
    }       

    .rightDiv{
        width: 90%;
    }
}
@media only screen and (max-width: 540px){        
    .container{
        width: 100vw;
    }
    
    .subContainer{
        width: 90%;        
    }
        
    .leftDiv {   
        width: 90%;
    }       
    
}

.upload-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.upload-form::-webkit-scrollbar {
    -webkit-appearance: none;
}

.upload-form::-webkit-scrollbar:vertical {
    width:10px;
}

.upload-form::-webkit-scrollbar-button:increment {
    display: none;
}

.upload-form::-webkit-scrollbar  {
    height: 10px;
}
.upload-form::-webkit-scrollbar-thumb {
    background-color: rgb(80, 93, 106);
    border-radius: 20px;
    border: 1px solid rgb(80, 93, 106);
}

.upload-form::-webkit-scrollbar-track {
    border-radius: 10px;
}

