.pdf-circle{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 3rem;    
    border: 1px solid brown;
    margin-right: 1rem;    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.uploaded-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    background-color: white;
    border-radius: 1rem;
    padding: 0 5px;
    -webkit-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px -5px rgba(0,0,0,0.75);
}

.close-icon{
    color: gray;
    cursor: pointer;
}